# Extração de dados - Tesouro Nacional

In [23]:
import watermark
%reload_ext watermark
%watermark -a "Lucas Falcão" --iversions

Author: Lucas Falcão

watermark: 2.5.0
pandas   : 2.2.3
siconfipy: 0.0.4b1

### 1 - Importação das bibliotecas

In [24]:
import pandas as pd
from siconfipy import get_fiscal, get_budget, br_cods, get_annual_acc
from datetime import datetime

In [25]:
help(get_budget)

Help on function get_budget in module siconfipy.get:

get_budget(year, period, cod, simple=False, annex=None)
    Access the Budget Execution Summary Report

    Parameters
    ----------
    year : int or list of int
        year
    period : int or list of int
        Two months period, an integer between 1 and 6
    cod : int, list of int
        id of city or state. Brazilian Institute of Geography and Statistics
        (IBGE) code assigned to each municipality and state
    simple : bool, optional, default False
        Report type. True applies only to municipalities with less than 50
        thousand inhabitants that have opted for simplified publication
    annex : str or list of str, optional, default None
        Attachment name. Default is None it will get all attachments. Possible
        values: "01", "02", "03", "04", "04 - RGPS", "04 - RPPS", "04.0 - RGPS",
        "04.1", "04.2", "04.3 - RGPS", "05", "06", "07", "09", "10 - RGPS",
        "10 - RPPS", "11", "13", "14"

    Returns
    -------
    DataFrame

    Examples
    --------
    >>> get_budget(year=2020, period=2, cod=35)

    >>> get_budget(year=[2018,2019,2020], period=2, cod=35)

### 2 - Lógica de datas

In [26]:
ano_atual = datetime.now().year
ano_passado = ano_atual - 1

### 3 - Utilização dos métodos de extração

3.1 - Extração dos dados fiscais

In [27]:
df_fiscal = get_fiscal(year=2023,
                       period=[1,2,3],
                       cod=27)

In [28]:
df_fiscal.to_parquet('df_fiscal.parquet')

In [29]:
df_fiscal.head(10)

,exercicio,periodo,periodicidade,instituicao,cod_ibge,uf,co_poder,populacao,anexo,esfera,rotulo,coluna,cod_conta,conta,valor
0,2023,1,Q,Governo do Estado de Alagoas,27,AL,E,3365351,RGF-Anexo 01,E,Padrão,<MR-11>,DespesaComPessoalBruta,DESPESA BRUTA COM PESSOAL (I),5.212609e+08
1,2023,1,Q,Governo do Estado de Alagoas,27,AL,E,3365351,RGF-Anexo 01,E,Padrão,<MR-10>,DespesaComPessoalBruta,DESPESA BRUTA COM PESSOAL (I),5.276931e+08
2,2023,1,Q,Governo do Estado de Alagoas,27,AL,E,3365351,RGF-Anexo 01,E,Padrão,<MR-9>,DespesaComPessoalBruta,DESPESA BRUTA COM PESSOAL (I),5.321998e+08
3,2023,1,Q,Governo do Estado de Alagoas,27,AL,E,3365351,RGF-Anexo 01,E,Padrão,<MR-8>,DespesaComPessoalBruta,DESPESA BRUTA COM PESSOAL (I),5.261555e+08
4,2023,1,Q,Governo do Estado de Alagoas,27,AL,E,3365351,RGF-Anexo 01,E,Padrão,<MR-7>,DespesaComPessoalBruta,DESPESA BRUTA COM PESSOAL (I),5.224901e+08
5,2023,1,Q,Governo do Estado de Alagoas,27,AL,E,3365351,RGF-Anexo 01,E,Padrão,<MR-6>,DespesaComPessoalBruta,DESPESA BRUTA COM PESSOAL (I),5.186654e+08
6,2023,1,Q,Governo do Estado de Alagoas,27,AL,E,3365351,RGF-Anexo 01,E,Padrão,<MR-5>,DespesaComPessoalBruta,DESPESA BRUTA COM PESSOAL (I),3.979549e+08
7,2023,1,Q,Governo do Estado de Alagoas,27,AL,E,3365351,RGF-Anexo 01,E,Padrão,<MR-4>,DespesaComPessoalBruta,DESPESA BRUTA COM PESSOAL (I),1.074566e+09
8,2023,1,Q,Governo do Estado de Alagoas,27,AL,E,3365351,RGF-Anexo 01,E,Padrão,<MR-3>,DespesaComPessoalBruta,DESPESA BRUTA COM PESSOAL (I),5.675693e+08
9,2023,1,Q,Governo do Estado de Alagoas,27,AL,E,3365351,RGF-Anexo 01,E,Padrão,<MR-2>,DespesaComPessoalBruta,DESPESA BRUTA COM PESSOAL (I),4.965929e+08

3.2 - Extração dos dados orçamentários

In [30]:
df_orcamentario = get_budget(year=ano_passado,
                       period=[1,2,3,4,5,6],
                       cod=27)

In [31]:
df_orcamentario.head()

,exercicio,demonstrativo,periodo,periodicidade,instituicao,cod_ibge,uf,populacao,anexo,esfera,rotulo,coluna,cod_conta,conta,valor
0,2023,RREO,1,B,Governo do Estado de Alagoas,27,AL,3365351,RREO-Anexo 01,E,Padrão,PREVISÃO INICIAL,ReceitasExcetoIntraOrcamentarias,RECEITAS (EXCETO INTRA-ORÇAMENTÁRIAS) (I),1.393900e+10
1,2023,RREO,1,B,Governo do Estado de Alagoas,27,AL,3365351,RREO-Anexo 01,E,Padrão,PREVISÃO ATUALIZADA (a),ReceitasExcetoIntraOrcamentarias,RECEITAS (EXCETO INTRA-ORÇAMENTÁRIAS) (I),1.393900e+10
2,2023,RREO,1,B,Governo do Estado de Alagoas,27,AL,3365351,RREO-Anexo 01,E,Padrão,No Bimestre (b),ReceitasExcetoIntraOrcamentarias,RECEITAS (EXCETO INTRA-ORÇAMENTÁRIAS) (I),2.654337e+09
3,2023,RREO,1,B,Governo do Estado de Alagoas,27,AL,3365351,RREO-Anexo 01,E,Padrão,% (b/a),ReceitasExcetoIntraOrcamentarias,RECEITAS (EXCETO INTRA-ORÇAMENTÁRIAS) (I),1.904000e+01
4,2023,RREO,1,B,Governo do Estado de Alagoas,27,AL,3365351,RREO-Anexo 01,E,Padrão,Até o Bimestre (c),ReceitasExcetoIntraOrcamentarias,RECEITAS (EXCETO INTRA-ORÇAMENTÁRIAS) (I),2.654337e+09

### 4 - ETL

4.1 - Dados fiscais

In [32]:
df_fiscal['DATA'] = (df_fiscal['exercicio'].astype(str) + '-' + df_fiscal['periodo'].astype(str)) + ' Q'

In [33]:
colunas = ['DÍVIDA CONSOLIDADA - DC (I)', 'Dívida Mobiliária', 'Dívida Contratual', 'Empréstimos', 'Internos', 'Externos',
           'Reestruturação da Dívida de Estados e Municípios', 'Financiamentos', 'Parcelamento e Renegociação de Dívidas',
           'De Tributos', 'De Contribuições Previdenciárias', 'De Demais Contribuições Sociais', 'Do FGTS',
           'Com Instituição Não Financeira', 'Demais Dívidas Contratuais', 'Precatórios Posteriores a 05/05/2000 (inclusive) - Vencidos e não pagos',
           'Outras Dívidas', 'DEDUÇÕES (II)', 'Disponibilidade de Caixa', 'Disponibilidade de Caixa Bruta', '(-) Restos a Pagar Processados',
           '(-) Depósitos Restituíveis e Valores Vinculados', 'Demais Haveres Financeiros']

In [40]:
df_list = []
for column in colunas:
    df_teste = df_fiscal.iloc[0:,[15,11,13,14]].copy()
    df_teste = df_teste[df_teste['conta'].isin([column])].reset_index(drop=True)
    df_list.append(df_teste)

df_result = pd.concat(df_list, ignore_index=True)

df_result.head(10)

,DATA,coluna,conta,valor
0,2023-1 Q,SALDO DO EXERCÍCIO ANTERIOR,DÍVIDA CONSOLIDADA - DC (I),1.035952e+10
1,2023-1 Q,Até o 1º Quadrimestre,DÍVIDA CONSOLIDADA - DC (I),1.030840e+10
2,2023-2 Q,SALDO DO EXERCÍCIO ANTERIOR,DÍVIDA CONSOLIDADA - DC (I),1.035952e+10
3,2023-2 Q,Até o 1º Quadrimestre,DÍVIDA CONSOLIDADA - DC (I),1.030840e+10
4,2023-2 Q,Até o 2º Quadrimestre,DÍVIDA CONSOLIDADA - DC (I),1.068081e+10
5,2023-3 Q,SALDO DO EXERCÍCIO ANTERIOR,DÍVIDA CONSOLIDADA - DC (I),1.164751e+10
6,2023-3 Q,Até o 1º Quadrimestre,DÍVIDA CONSOLIDADA - DC (I),1.165114e+10
7,2023-3 Q,Até o 2º Quadrimestre,DÍVIDA CONSOLIDADA - DC (I),1.208206e+10
8,2023-3 Q,Até o 3º Quadrimestre,DÍVIDA CONSOLIDADA - DC (I),1.299684e+10
9,2023-1 Q,SALDO DO EXERCÍCIO ANTERIOR,Dívida Contratual,1.035952e+10

In [35]:
escolha_coluna = ['SALDO DO EXERCÍCIO ANTERIOR', 'Até o 1º Quadrimestre', 'Até o 2º Quadrimestre', 'Até o 3º Quadrimestre']
escolha_coluna = escolha_coluna[0]

account = df_result[df_result['coluna'].isin([escolha_coluna]) & df_result['conta'].str.contains('Empréstimos')].copy()

account.head()

        DATA                       coluna        conta         valor
18  2023-1 Q  SALDO DO EXERCÍCIO ANTERIOR  Empréstimos  3.767816e+09
20  2023-2 Q  SALDO DO EXERCÍCIO ANTERIOR  Empréstimos  3.767816e+09
27  2023-3 Q  SALDO DO EXERCÍCIO ANTERIOR  Empréstimos  3.767816e+09

---

### Cálculos

Criação da base de Despesa Pessoal / Receita Corrente Líquida

In [36]:
df_DP_RCL = df_fiscal.iloc[0:,[11,15,13,14]].copy()
df_DP_RCL = df_DP_RCL[df_DP_RCL['coluna'].isin(['% sobre a RCL Ajustada'])]
df_DP_RCL = df_DP_RCL.drop(columns=['coluna'])
df_DP_RCL = df_DP_RCL[df_DP_RCL['conta'].isin(['DESPESA TOTAL COM PESSOAL - DTP (VI) = (IIIa + IIIb)', 'DESPESA TOTAL COM PESSOAL - DTP (VII) = (IIIa + IIIb)', 'DESPESA TOTAL COM PESSOAL - DTP (VIII) = (IIIa + IIIb)'])].reset_index(drop=True)
df_DP_RCL.head()

       DATA                                              conta  valor
0  2023-1 Q  DESPESA TOTAL COM PESSOAL - DTP (VIII) = (IIIa...  41.73
1  2023-2 Q  DESPESA TOTAL COM PESSOAL - DTP (VIII) = (IIIa...  41.62
2  2023-3 Q  DESPESA TOTAL COM PESSOAL - DTP (VIII) = (IIIa...  43.01

Criação da base de Divida Consolidada Liquida / Receita Corrente Líquida

In [37]:
df_DCL_RCL = df_fiscal.iloc[0:,[15,11,13,14]].copy()
df_DCL_RCL = df_DCL_RCL[df_DCL_RCL['conta'].isin(['% da DCL sobre a RCL (III/RCL)', '% da DCL sobre a RCL AJUSTADA (III/VI)'])].reset_index(drop=True)
df_DCL_RCL.head()

,DATA,coluna,conta,valor
0,2023-1 Q,SALDO DO EXERCÍCIO ANTERIOR,% da DCL sobre a RCL AJUSTADA (III/VI),54.98
1,2023-1 Q,Até o 1º Quadrimestre,% da DCL sobre a RCL AJUSTADA (III/VI),51.61
2,2023-2 Q,SALDO DO EXERCÍCIO ANTERIOR,% da DCL sobre a RCL AJUSTADA (III/VI),54.98
3,2023-2 Q,Até o 1º Quadrimestre,% da DCL sobre a RCL AJUSTADA (III/VI),51.61
4,2023-2 Q,Até o 2º Quadrimestre,% da DCL sobre a RCL AJUSTADA (III/VI),51.59

Criação da base de Divida Consolidada / Receita Corrente Líquida

In [38]:
df_DC_RCL = df_fiscal.iloc[0:,[15,11,13,14]].copy()
df_DC_RCL = df_DC_RCL[df_DC_RCL['conta'].isin(['% da DC sobre a RCL (I/RCL)', '% da DC sobre a RCL AJUSTADA (I/VI)'])].reset_index(drop=True)
df_DC_RCL.head()

,DATA,coluna,conta,valor
0,2023-1 Q,SALDO DO EXERCÍCIO ANTERIOR,% da DC sobre a RCL AJUSTADA (I/VI),78.62
1,2023-1 Q,Até o 1º Quadrimestre,% da DC sobre a RCL AJUSTADA (I/VI),75.90
2,2023-2 Q,SALDO DO EXERCÍCIO ANTERIOR,% da DC sobre a RCL AJUSTADA (I/VI),78.62
3,2023-2 Q,Até o 1º Quadrimestre,% da DC sobre a RCL AJUSTADA (I/VI),75.90
4,2023-2 Q,Até o 2º Quadrimestre,% da DC sobre a RCL AJUSTADA (I/VI),77.45

In [41]:
df_DC_RCL.rename(columns={'valor': 'DC sobre a RCL'}, inplace=True)

In [42]:
df_DC_RCL

,DATA,coluna,conta,DC sobre a RCL
0,2023-1 Q,SALDO DO EXERCÍCIO ANTERIOR,% da DC sobre a RCL AJUSTADA (I/VI),78.62
1,2023-1 Q,Até o 1º Quadrimestre,% da DC sobre a RCL AJUSTADA (I/VI),75.90
2,2023-2 Q,SALDO DO EXERCÍCIO ANTERIOR,% da DC sobre a RCL AJUSTADA (I/VI),78.62
3,2023-2 Q,Até o 1º Quadrimestre,% da DC sobre a RCL AJUSTADA (I/VI),75.90
4,2023-2 Q,Até o 2º Quadrimestre,% da DC sobre a RCL AJUSTADA (I/VI),77.45
5,2023-3 Q,SALDO DO EXERCÍCIO ANTERIOR,% da DC sobre a RCL AJUSTADA (I/VI),88.39
6,2023-3 Q,Até o 1º Quadrimestre,% da DC sobre a RCL AJUSTADA (I/VI),85.79
7,2023-3 Q,Até o 2º Quadrimestre,% da DC sobre a RCL AJUSTADA (I/VI),87.61
8,2023-3 Q,Até o 3º Quadrimestre,% da DC sobre a RCL AJUSTADA (I/VI),90.18